@charset "utf-8";
/* CSS Document */
body {
    background: black;
    color: white;
    font-weight:900; }

h1 {
    text-align:center; }

th {
    text-align:right;}

table {
    border: 1px solid #63C;}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }